<div class="cont" style="margin-top: 5px;">
    Loan Requests
    <table>
        <tr>
            <th style="text-align: left;">Username</th>
            <th style="text-align: left;">Amount</th>
            <th style="width: 20%; text-align: right">View User Accounts</th>
            <th style="width: 92px">.</th>
        </tr>
        {{!-- Iterate over each account --}}
        {{#each loanArr}}
            <tr>
                <td style="text-align: left;">{{this.username}}</td>
                <td style="text-align: left;">{{this.amount}}</td>
                <td style="vertical-align:baseline">
                    <a href="/accounts?user={{this.username}}">
                        <button class="buttonSmall">VIEW</button>
                    </a>
                </td>
                <td style="vertical-align:baseline">
                    <form action="/grantLoan/{{this.accNum}}/{{@key}}/{{this.amount}}" method="post">
                        <button class="buttonSmall" type="submit">ACCEPT</button>
                    </form>
                    <form action="/removeReq/{{@key}}/loan" method="post">
                        <button class="buttonSmall" type="submit">REJECT</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</div>