<div class="cont">
    View Technical Reports
    <table>
        <tr>
            <th style="text-align: left;">Username</th>
            <th style="width: 20%; text-align: right">Category</th>
            <th style="text-align: left;">Message</th>
            <th style="width: 92px">.</th>
        </tr>
        {{!-- Iterate over each account --}}
        {{#each issuesArr}}
            <tr>
                <td style="text-align: left;">{{this.username}}</td>
                <td style="text-align: left;">{{this.category}}</td>
                <td style="text-align: left;">{{this.repMsg}}</td>
                <td style="vertical-align:baseline">
                    <form action="/resolveIssue/{{this.username}}/{{@key}}" method="post">
                        <button class="buttonSmall" type="submit">RESOLVED</button>
                    </form>
                </td>
            </tr>
        {{/each}}
    </table>
</div>